.grid-map-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(100, 10px); /* Reduce column size */
  grid-template-rows: repeat(30, 10px); /* Reduce row size */
  gap: 0; /* No gaps between cells */
  position: relative;
  background-color: #f0f0f0;
}

.grid-item {
  width: 10px;
  height: 10px;
  display: flex; /* Center content */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 0.3px solid white;
  overflow: hidden; /* Ensures image does not overflow */
}

.grid-item.land {
  background-color: #90ee90; /* Optional highlight for land cells */
}

.grid-item.empty {
  background-color: #add8e6; /* Blue for empty cells */
}
.grid-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .grid-item.large-section {
  width: 600px;
  height: 600px; 
} */
